.header {
    background: #1d0f48 url(../img/world_vector-alt.svg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: none;
    z-index: 0;
    overflow: hidden;   
}

.bottom-val hr {
    margin: 2em auto 0;
}

.one-cloud {
    background: url(../img/purple.png) no-repeat 0% center, url(../img/clouds13.png) no-repeat;
}

.two-cloud {
    background: url(../img/purple.png) no-repeat 0% center;
}

.newsl h2 {
    font-family: "Boing", sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.newsl p {
    font-size: 23px;

}

#section-roadmap {
    background: url(../img/roadmap.png);
}

.btn-banner-newsl {
    background-color: #231452;
    color: #fff;
    border-color: transparent;
    box-shadow: 0 10px 30px rgb(20, 11, 49);
    /* line-height: 48px; */
    height: 50px;
    border-radius: 25px;
}

.head-intro {
    z-index: 2;
}

.vend-head h1 {
    color: white;
    font-family: "Boing", sans-serif;
    font-size: 36px;
    line-height: 1.4;
}

.vend-head p {
    color: white;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik", sans-serif;
}

.btn-banner-gradient, .btn-banner-red {
    background-color: #f2295b;
    border-color: #f2295b;
    font-family: 'avenir next';
    font-weight: 300;
    width: 100%;
    height: 42px;
    color: #fff;
    border: none;
}

.btn-banner-red {
    background-color: #f2295b;
}

.btn-banner-red:hover, .btn-banner-red:focus{
    background: #c51743;
    color: #fff !important;
}

.btn-banner-gradient:hover, .btn-banner-gradient:focus {
    color: #fff !important;
}


.btn-banner-gradient {
    background: linear-gradient(-60.76deg, #9679ff 0%, #d499ea 57.96%, #eea4b3 100%);
}

.text-white {
    color: #fff;
}

.text-purp {
    color: #b49cff !important;
    font-family: "Boing", sans-serif;
    font-size: 25px;
}

.btn-bottom-purp {
    background-color: #382082;
    border-color: #382082;
}

.bg-btm-dark {
    background-color: #15191d;
}

.btn-black {
    background-color: #0a1b43;
    border: 1px solid #0a1b43;
    color: #fff;
}

.vend-scroll .scroll-down-inverse span {
    border-color: #3179ed;
}

.vend-head .constellation {
    z-index: 1;
}

.vend-nav .topbar-nav .nav-link {
    color: #fff;
    font-size: 0.9rem;
    opacity: 1;
    font-weight: 300;
    font-family: "Graphik", sans-serif;
    text-transform: capitalize !important;
}

.vend-sec h2 {
    color: #011b33;
    font-family: "Boing", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.2;
    margin: 0;
}

.vend-sec .section-header {
    max-width: 80%;
}

.mar-20 {
    margin: 20px 0;
}

.mar-22 {
    margin: 22px 0;
}

.mar-25 {
    margin: 25px 0;
}

.mar-13 {
    margin: 13px 0;
}

.vend-sec p {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.6;
    color: #003767;
    -webkit-font-smoothing: antialiased;
    font-family: "Graphik", sans-serif;
}

.card-block p {
    font-size: 0.9rem;
    line-height: 1.7rem;
}

.vend-footer {
    background: #15191d;
    border-top: 1px solid #15191d;
}

.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
    margin: 30px 50px 100px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
    position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
    display: none;
}

.thesaas-sections-split .section-info {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
    display: none;
}

@media (max-width: 768px) {

    .thesaas-sections-split .section,
    .thesaas-sections-split .main-content .site-footer {
        margin: 30px 0 100px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

}

.features-post {
    margin: 20px 15px 10px 0;
}

.features-post h4 {
    color: #011b33;
    font-family: "Boing", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.features-post p {

}

.topbar-brand img {
    max-height: 35px;
}

/*.img-banner img {*/
/*margin-right: -20px;*/
/*}*/

.banner-container img {
    /* width: 80%; */
    position: absolute;
    top: -220px;
    left: -86px;
    height: 430px;
    max-width: none;
}

/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 6px;
    /*background-color: #eee;*/
    background-color: #4b3d75;
    left: 50%;
    margin-left: -1.5px;
}

.tldate {
    display: block;
    width: 200px;
    background: #ffffff;
    /*background: #1d0f48;*/
    /*border: 3px solid #212121;*/
    border: 3px solid #1d0f48;
    color: #1d0f48;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

.timeline li:after {
    clear: both;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
    width: 46%;
    float: left;
    color: #fff;
    /* background: #fff; */
    /* background: #1d0f48; */
    /* border: 1px solid #d4d4d4; */
    padding: 20px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); */
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); */
}

/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    /*border-left: 15px solid #ccc;*/
    border-left: 15px solid #1d0f48;
    border-right: 0 solid #1d0f48;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #1d0f48;
    border-right: 0 solid #1d0f48;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/** timeline circle icons **/
.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #1d0f48;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    /*border: 3px solid #90acc7;*/
    /*border: 3px solid #1d0f48;*/
    border: 2px solid #cfc0fe;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /*z-index: 99999;*/
}

.timeline li .tl-circ.finish {
    background: #00853c;
    border: 3px solid #009944;

}

.timeline li .tl-circ p {
    margin-top: -10%;
}

.timeline-text-right {
    text-align: right;
}

#section-roadmap h2 {
    font-family: "Boing", sans-serif;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}

.head-note h6 {
    color: #b8cad0;
    font-weight: 300;
    font-size: 9px;
    line-height: 12px;
    margin: 5px 0;
    text-transform: uppercase;
    font-family: 'Orgon';
}

.head-note h2 {
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
    /* font-family: "Graphik", sans-serif; */
    font-family: 'Orgon';
    text-transform: capitalize;
}

.bottom-val {
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding-left: 80px; */
    width: 100%;
    border-top: 1px solid rgb(40, 23, 93);
}


.bottom-val .col {
    border-right: 1px solid rgb(40, 23, 93);
}

.head-note {
    margin: 25px 10px;
    color: rgb(255, 255, 255);
    font-family: "Avenir Next", sans-serif;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
}

/** timeline content **/

.tl-heading h4 {
    margin: 0;
    /*color: #c25b4e;*/
    font-size: 17px;
    /*color: #1d0f49;*/
    color: white;
    font-family: "Boing", sans-serif;
    font-size: 25px;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
    .timeline li .timeline-panel {
        width: 44%;
    }
}

@media (max-width: 700px) {
    .page-header h1 {
        font-size: 1.8em;
    }

    ul.timeline:before {
        left: 40px;
    }

    .tldate {
        width: 140px;
    }

    ul.timeline li .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;

    }

    ul.timeline > li > .tldate {
        margin: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.hr.invisible_hr {
    height: 0;
    padding: 0;
}

.hr.big_size_hr {
    margin: 30px 0;
}

.hr {
    clear: both;
    display: block;
    font-size: 0;
    height: 24px;
    margin: 20px 0;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.highlight_secondary {
    color: #F24046;
}

.team-role {
    color: #A4A7AA;
}

.cognito .c-button-section {
    padding: 0 0 20px 0;
    margin-bottom: -3.5%;
}

.ICO_section {
    background-color: #1e0f49;
    color: #989898;
}

/*.ICO_section h1 h2 h3 h4 h6 {*/
/*color: white;*/

/*}*/

.ICO_section h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /*font-family: "Dosis", "Open Sans", sans-serif;*/
    font-weight: 600;
    color: #989898;
    letter-spacing: 1px;
    line-height: 1.6;
}

/*.ICO_section hr{*/
/*margin: 0;*/
/*}*/


.poweredBy{
    display: none !important;
}

 canvas{
    display: none !important;
}

.topbar>.container-fluid {
    width: 80%;
    padding-left: 0px;
    padding-left: 0px;
}
.topbar>.container-fluid>.topbar-left {
    margin-left: -10px;
}
  

.join{
    background: #1d0f48 url(../img/gb.png) 100% 0%;
    width: 100%;
    height: 100%;
}

.invite-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.invite{
    text-align: center;
}

h2.invite-tagline{
    color: #fff;
    margin: 35px 0 30px;
    font-size: 28px;
    line-height: 35px;
    font-family: "Boing", sans-serif;
}

.btn-signup{
    background-color: #f2295b;
    border: 1px solid #f2295b;
    color: #fff;
    width: 43%;
    height: 55px;
    line-height: 41px
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
    
        
    }
    
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    
    
    
    
    
    }
    
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    
    
    
    
    }
    
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    
    
    
    
    }
    
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

        .header {
            width: 100vw;
            height: 100vh;
        }
    }

   


      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1400px) {
        .head-mar {
            margin-top: 163px;
        }
    
    
    
    }
    
    
    /*==========  Non-Mobile First Method  ==========*/

    @media only screen and (max-width : 1400px) {
        .banner-container img {
            height: 400px;
        }

        .vend-head h1 {
            font-size: 29px;
            line-height: 1.5;
        }

        .head-mar {
            margin-top: 50px;
        }
    }
    
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    
    
    }
    
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    
    
    
    }
    
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .bottom-val{
            display: none;
        }
    
    }
    
    @media screen and (max-width: 640px) {
    
        .vend-head p {
            font-size: 17px;
            line-height: 30px;
        }

       

        .vend-head h3 {
            color: #fff;
            font-size: 24px;
            line-height: 40px;
            text-transform: capitalize;
        }

        /* .header {
            padding-top: 100px;
            margin: 25px
        }  */

        .vend-head .btn-banner-red{
            margin-bottom: 15px;
        }

        .features-tile{
            margin: 15px;
        }


        .head-mar {
            margin-top: 20px;
        }


      
    
    
    
    }
    
    
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    
    
      
    
    }
    
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    
    
    }

